body {
	font-family: Arial, sans-serif;
	background-color: white;
	margin: 0;
}

.container-calendar #left h1 {
	color: rgb(138, 15, 93);
	text-align: center;
	background-color: #f2f2f2;
	margin: 0;
	padding: 10px 0;

}

